{% extends 'base.html' %}
{% block title %}Create Todo Item{% endblock %}
{% block content %}
<div class="container create-form-container">
    <h1>Create</h1>
    <form class="create-todo-form" action="" method="POST">
        {% csrf_token %}
        <div class='input-container'>
            <label for="id_title">{{form.title.label}}</label>
            <input class="form-control" type="text" name="title" required id="id_title">
            <p class='helper-text'>Enter your task.</p>
        </div>
        <div class='input-container'>
            <label for="id_description">{{ form.description.label }}</label>
            <textarea class="form-control" name="description" id="id_description"></textarea>
            <p class='helper-text'>Enter your description for your task if needed. (optional)</p>
        </div>
        <div class='input-container'>
            <label for="id_category">{{ form.category.label }}</label>
            <select class="form-control" name="category" id="id_category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <p class='helper-text'>Select a category for your task.</p>
        </div>
        <div class='input-container'>
            <label for="id_priority">{{ form.priority.label }}</label>
            <select class="form-control" name="priority" id="id_priority">
                {% for priority in priorities %}
                    <option value="{{ priority.id }}">{{ priority.name }}</option>
                {% endfor %}
            </select>
            <p class='helper-text'>Select a priority for your task.</p>
        </div>
        <div class='input-container'>
            <label for="id_date">{{form.date.label}}</label>
            <input class="form-control" type="datetime-local" name="date" id="id_date">
            {% for error in form.date.errors %}
            <p class='error-msg'>{{ error }}</p>
            {% endfor %}
            <p class='helper-text'>Here you can pick a date and time for your task if needed. (optional)</p>
        </div>
    <button class='btn btn-primary' type="submit">Add</button>
    <a href="{% url 'todo_app:todo_list' %}" class="btn btn-secondary">Cancel</a>
    
    </form>
</div>
{% endblock %}