{% extends 'base.html' %}
{% block title %}Edit Todo Item{% endblock %}
{% block content %}
<div class="container edit-form-container">
    <h1>Edit Todo Item</h1>
    <form class="edit-todo-form" method="POST">
        {% csrf_token %}
        <div class='input-container'>
            <label for="id_title">{{ form.title.label }}</label>
            <input class="form-control" type="text" name="title" value="{{ form.instance.title }}" required id="id_title">
            <p class='helper-text'>Edit your todo item</p>
        </div>
        <div class='input-container'>
            <label for="id_description">{{ form.description.label }}</label>
            <textarea class="form-control" name="description" id="id_description">{{ form.instance.description }}</textarea>
            <p class='helper-text'>Edit the description for your task if needed. (optional)</p>
        </div>
        <div class='input-container'>
            <label for="id_category">{{ form.category.label }}</label>
            <select class="form-control" name="category" id="id_category">
                {% for category in categories %}
                    <option value="{{ category.pk }}" {% if category.pk == form.instance.category.pk %} selected {% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <p class='helper-text'>Select a category for your task.</p>
        </div>
        <div class='input-container'>
            <label for="id_date">{{ form.date.label }}</label>
            <input class="form-control" type="datetime-local" name="date" value="{% if form.instance.date %}{{ form.instance.date|date:'Y-m-d\TH:i' }}{% endif %}" id="id_date">
            {% for error in form.date.errors %}
            <p class='error-msg'>{{ error }}</p>
            {% endfor %}
            <p class='helper-text'>Edit the date and time for your task if needed. (optional)</p>
        </div>
        <button class='btn btn-primary' type="submit">Save Changes</button>
        <a href="{% url 'todo_app:todo_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
