{% extends 'base.html' %}
{% block title %} todo list app {% endblock %}
{% block content %}
<div class="home-container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to Todo App!</h1>
        <p class="lead">Effortlessly manage your tasks and stay organized.</p>
        <hr class="my-4">
        <div class="features">
            <h2>Features</h2>
            <ul>
                <li><strong>Create Tasks:</strong> Easily add new tasks with titles, descriptions, categories, priorities, and due dates.</li>
                <li><strong>Edit Tasks:</strong> Update your tasks whenever necessary.</li>
                <li><strong>Mark as Completed:</strong> Check off tasks as you complete them.</li>
                <li><strong>Delete Tasks:</strong> Remove tasks you no longer need.</li>
            </ul>
        </div>
        <div class="instructions mt-4">
            <h2>Getting Started</h2>
            <p>To start using the Todo App, you need to create an account or log in:</p>
            <ul>
                <li><strong>Sign Up:</strong> Create a new account by clicking the "Sign Up" button below.</li>
                <li><strong>Log In:</strong> If you already have an account, log in to access your tasks.</li>
                <li>Once logged in, you can view, add, edit, and delete your tasks easily.</li>
            </ul>
            <div class="lead mt-4">
                {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'todo_app:todo_list' %}" role="button">View Your Todo List</a>
                {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Log In</a>
                <a class="btn btn-secondary btn-lg" href="{% url 'accounts:signup' %}" role="button">Sign Up</a>
                <p class="mt-3">Please log in or sign up to start managing your tasks.</p>
                {% endif %}
            </div>
        </div>
        <hr class="my-4">
        <div class="list-container">
            <div class="todo-list-container">
                <h2>Public Tasks</h2>
                <div class="todo-list">
                  <ul class="list-group">
                    {% for todoitem in todolist %}
                        <li class="list-group-item todo-item">
                          <div class="todo-item-content">
                            {% if todoitem.checked %}
                            <div class="job-done-text job-text">
                              <h6>{{todoitem.title}}</h6>
                              <p>{{todoitem.description}}</p>
                              <p>Category: {{ todoitem.category }}</p>
                              <p>{{todoitem.date}}</p>
                              <p>Priority: {{ todoitem.priority }}</p>
                            </div>
                            {% else %}
                            <div class="job-undone-text job-text">
                              <h6>{{todoitem.title}}</h6>
                              <p>{{todoitem.description}}</p>
                              <p>Category: {{ todoitem.category }}</p>
                              <p class="todo-date">{{todoitem.date}}</p>
                              <p>Priority: <span class="priority-badge">{{ todoitem.priority }}</span></p>
                            </div>
                            {% endif %}
                          </div>
                        </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}