{% extends 'base.html' %}

{% block title %} todos list {% endblock %}

{% block content %}

<div class="list-container">
  {% if todo_list_len == 0 %}
  <div>
    <h3>nothing is here ...</h3>
    <a href="{% url 'todo_app:todo_item_create' %}">You can add a task here</a>
  </div>
  {% else %}
  <div class="todo-list-container">
    <form method="POST" action="{% url 'todo_app:todo_list' %}" id="todo-list-form">
      <div class="todo-list">
        <ul class="list-group">
          {% for todoitem in todolist %}
              <li class="list-group-item todo-item">
                <div class="todo-item-content">
                  {% if todoitem.checked %}
                  <input class="check-input form-check-input job-done-input" type="checkbox" name="checked" checked value="{{todoitem.id}}" id="firstCheckbox">
                  <div class="job-done-text job-text">
                    <h6>{{todoitem.title}}</h6>
                    <p>{{todoitem.date}}</p>
                  </div>
                  {% else %}
                  <input class="check-input form-check-input me-1" type="checkbox" name="checked" value="{{todoitem.id}}" id="firstCheckbox">
                  <div class="job-undone-text job-text">
                    <h6>{{todoitem.title}}</h6>
                    <p>{{todoitem.date}}</p>
                  </div>
                  {% endif %}
                </div>
                <div class="todo-item-action">
                  <a class='btn btn-danger' href="{% url 'todo_app:todo_item_delete' todoitem.id %}"><i class="bi bi-trash3-fill"></i></a>
                  <a class='btn btn-secondary' href="{%  %}"><i class="bi bi-pen"></i></a>
                </div>
              </li>
              
          {% endfor %}
          </ul>
      </div>
          {% csrf_token %}
          <button class='btn btn-primary' id="print_paper"><i class="bi bi-printer-fill"></i></button>
          <a href="/create">Create new item</a>
  </form>
  </div>
  {% endif %}
</div>

<script>
  let check_input = document.getElementsByName('checked');
  let form = document.getElementById('todo-list-form')
  let print_btn = document.getElementById('print-paper')
  console.log(check_input);
  check_input.forEach(element => {
    element.addEventListener('click', function(){
      form.submit()
    })
  });
  print_btn.addEventListener('click',function(){
    print()
  })
</script>

{% endblock %}