{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}

<div class="list-container">
  {% if todo_list_len == 0 %}
  <div>
    <h3>Nothing here ...</h3>
    <a class='link' href="{% url 'todo_app:todo_item_create' %}">You can add a task here</a>
  </div>
  {% else %}
  <div class="todo-list-container">
    <form method="POST" action="{% url 'todo_app:todo_list' %}" id="todo-list-form">
      <div class="todo-list">
        <h2 style="text-align: center;">All Tasks</h2>
        <ul class="list-group">
          {% for todoitem in todolist %}
              <li class="list-group-item todo-item">
                <div class="todo-item-content">
                  {% if todoitem.checked %}
                  <input class="check-input form-check-input job-done-input" type="checkbox" name="checked" checked value="{{todoitem.id}}" aria-label="...">
                  <div class="job-done-text job-text">
                    <h6>{{todoitem.title}}</h6>
                    <p>{{todoitem.description}}</p>
                    <p>Category: {{ todoitem.category }}</p>
                    <p>{{todoitem.date}}</p>
                    <p>Priority: {{ todoitem.priority }}</p>
                  </div>
                  {% else %}
                  <input class="check-input form-check-input" type="checkbox" name="checked" value="{{todoitem.id}}" aria-label="...">
                  <div class="job-undone-text job-text">
                    <h6>{{todoitem.title}}</h6>
                    <p>{{todoitem.description}}</p>
                    <p>Category: {{ todoitem.category }}</p>
                    <p class="todo-date">{{todoitem.date}}</p>
                    <p>Priority: <span class="priority-badge">{{ todoitem.priority }}</span></p>
                  </div>
                  {% endif %}
                </div>
                <div class="todo-item-action">
                  <a class='btn btn-danger' href="{% url 'todo_app:todo_item_delete' todoitem.id %}"><i class="bi bi-trash-fill"></i></a>
                  <a class='btn btn-secondary' href="{% url 'todo_app:todo_item_edit' todoitem.id %}"><i class="bi bi-pen"></i></a>
                </div>
              </li>
          {% endfor %}
          <a class='btn btn-light mt-3' href="{% url 'todo_app:todo_item_create' %}"><i class="bi bi-plus"></i> Add new task</a>
        </ul>
        
      </div>
      {% csrf_token %}
      <button class='btn btn-primary mt-3' id="print-paper" type="button"><i class="bi bi-printer-fill"></i></button>
  </form>
  </div>
  {% endif %}
</div>

<script>
  let checkInputs = document.querySelectorAll('input[name="checked"]');
  let form = document.getElementById('todo-list-form');
  let printBtn = document.getElementById('print-paper');

  checkInputs.forEach(input => {
    input.addEventListener('click', function(){
      form.submit();
    });
  });

  printBtn.addEventListener('click', function(){
    print();
  });
</script>

{% endblock %}